@import "https://use.typekit.net/xki1pal.css";

/* Reset */
* {
  box-sizing: border-box;
}

h1,
p {
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

button {
  border: none;
  background-color: transparent;
  cursor: pointer;
}

/* Global */
:root {
  --color-bg-dark: #1F212B;
  --color-bg-light: #3C3F4E;
  --color-text: #ffffff;
  --color-primary: rgb(0,150,255);
  --color-primary-transarent: rgba(0,150,255, 0);

  --container-width: 100vw;
  --container-padding: 2rem;

  font-family: "gelo", serif;
  line-height: 1.5;
  font-weight: 400;
  font-style: normal;
  font-size: 16px;

  color-scheme: light dark;
  color: var(--color-text);
  background-image: radial-gradient(
    circle at 50% 50%,
    var(--color-bg-light) 0%,
    var(--color-bg-dark) 100%
  );
}

html {
  scroll-behavior: smooth;
  scroll-snap-type: y mandatory;
}

body {
  margin: 0;
  display: flex;
  flex-direction: column;
  place-items: center;
  overflow: hidden;
}

/* Titles */
h1 {
  font-size: 3.5rem;
  line-height: 1.1;
  font-weight: 700;
}

h1:not(:has(+ .subtitle)) {
  margin-bottom: 2rem;
}

.subtitle {
  font-size: 1.125rem;
  font-weight: 400;
  margin-bottom: 2rem;
}


/* Utility & container */
.container {
  width: var(--container-width, 1320px);
  height: 100vh;
  margin: 0 auto;
  padding: 6rem var(--container-padding) 0 var(--container-padding);
  scroll-snap-align: center;
}

#hero.container {
  padding: var(--container-padding);
}

.center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.text-center {
  text-align: center;
}


/* Lines animation */
.line-container {
  position: absolute;
  width: 100vw;
  max-width: 550px;
  height: 300px;
  pointer-events: none;
}

#lines-right {
  bottom: 50px;
  left: 0;
  overflow: hidden;
}

#lines-left {
  top: 50px;
  right: 0;
  transform: rotateY(180deg);
  overflow: hidden;
}

#lines-right::after,
#lines-left::after {
  content: "";
  position: absolute;
  top: -25%;
  left: -120%;
  width: 150%;
  height: 150%;
  background-image: radial-gradient(
    circle at 50% 50%,
    var(--color-primary) 0%,
    var(--color-primary-transarent) 60%
  );

  z-index: -1;
  opacity: 0.5;
}

.line {
  position: absolute;
}


/* Navigation */
nav {
  --nav-padding: 2rem;

  display: flex;
  justify-content: center;
  align-items: center;

  width: 100%;
  height: 100%;

  position: fixed;
  top: 0;

  z-index: 10;
  pointer-events: none;
}

nav .nav-container {
  padding: var(--nav-padding) max(var(--nav-padding), (100vw - var(--container-width)) / 2);

  width: 100%;
  height: 100%;

  display: flex;
  justify-content: center;
  align-items: center;

  background-image: radial-gradient(
    circle at 50% 50%,
    var(--color-bg-light) 0%,
    var(--color-bg-dark) 100%
  );

  transform: translateX(-100%);
  transition: transform 0.2s ease-in-out;

  pointer-events: auto;
}

nav .nav-container.active {
  transform: translateX(0);
}

nav ul {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 2rem;
}

/* Hamburger */
.hamburger-container {
  margin: var(--nav-padding);
  padding: 0;

  width: 2rem;
  height: 1.5rem;

  position: fixed;
  top: 0;
  left: 0;

  z-index: 20;
  pointer-events: auto;
}

nav .hamburger {
  padding: 0;
  width: 100%;
  height: 100%;
}

nav .hamburger > svg {
  display: block;
  width: 100%;
  height: 100%;
  transition: translate 0.2s ease-in-out;
}

nav .hamburger > svg line {
  transition: 
    rotate 0.2s ease-in-out,
    translate 0.2s 0.2s ease-in-out,
    opacity 0.2s 0.2s ease-in-out;
}

nav .hamburger.active > svg line {
  transition: 
    translate 0.2s ease-in-out,
    rotate 0.2s 0.2s ease-in-out;
}

nav .hamburger > svg line:first-child {
  transform-origin: center 35%;
}

nav .hamburger > svg line:last-child {
  transform-origin: center 65%;
}

nav .hamburger.active > svg line:first-child {
  translate: -10% 40%;
  rotate: 45deg;
}

nav .hamburger.active > svg line:last-child {
  translate: -10% -40%;
  rotate: -45deg;
}

nav .hamburger.active > svg line:nth-child(2) {
  opacity: 0;
}

/* Links */
a {
  font-weight: 500;
  color: var(--color-text);
  text-decoration: inherit;

  transition: color 0.2s ease-in-out;
}

a:hover {
  color: var(--color-primary);
}


/* Text animations */
.slide-in {
  overflow: hidden;
}

.slide-in > span,
.slide-in > a,
.slide-in > button {
  display: block;
}

.slide-in > * {
  transform: matrix(1, 0, 0, 1, 0, -100);
  animation: slide-in 1s ease-in-out forwards;
}

.slide-in[animation-delay] > * {
  animation-play-state: paused;
}

@keyframes slide-in {
  100% {
    transform: matrix(1, 0, 0, 1, 0, 0);
  }
}

.fade-in > * {
  opacity: 0;
  animation: fade-in 1s ease-in-out forwards;
}

@keyframes fade-in {
  100% {
    opacity: 1;
  }
}

/* Media queries */
@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}

@media (min-width: 768px) {
  :root {
    --container-width: 1320px;
    --container-padding: 0;
  }

  .line-container {
    height: 600px;
  }

  .hamburger-container {
    display: none;
  }

  nav {
    height: auto;
  }
  
  nav .nav-container {
    justify-content: flex-start;
    height: auto;
    background-image: none;
    transform: translateX(0);
    transition: none;
  }
  
  nav ul {
    flex-direction: row;
    gap: 2rem;
  }
}


/* Arrow */
.arrow {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  padding-bottom: 2rem;

  cursor: pointer;

  transition: transform 0.5s ease-in-out;
}

.arrow svg {
  stroke: #707070;
  transition: stroke 0.2s ease-in-out;
}

.arrow:hover svg {
  stroke: #ffffff;
}

.arrow:hover{
  transform: translateX(-50%) translateY(-1rem);
}